<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Reddit with Angular!</title>
</head>

<body ng-app='reddit'>
    <div ng-controller='frontPage'>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Reddit Clone</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="" ng-click='showPostForm()'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Post</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <form ng-show='view.addingComment' ng-submit='createPost()'>
          <div class="form-group">
            <label for="author">Username:</label>
            <input type="text" class='form-control' ng-model="view.author" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class='form-control' ng-model="view.title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class='form-control' ng-model="view.description" placeholder="Description">
          </div>
          <div class="form-group">
            <label for="imgURL">Image URL:</label>
            <input type="text" class="form-control" ng-model="view.imageURL" placeholder="URL">
          </div>
            <input type="submit" class="btn btn-default">
        </form>
        <h1 class="text-center">{{ view.welcome }}</h1>
        <div ng-repeat="post in view.posts | orderBy: '-votes'">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img ng-src="{{post.imageURL}}" height="{{view.maxHeight}}" width="{{view.maxWidth}}" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="caption">
                        <h3>{{post.title}}</h3>
                        <h4>Created By: {{post.author}}</h4>
                        <h4 ng-class="{negative: post.votes < 0, even: post.votes === 0, positive: post.votes > 0}">{{post.votes}}</h4><button type="button" ng-click="upvote(post)"><span class="glyphicon glyphicon-arrow-up"></span></button><button type="button" ng-click="downvote(post)"><span class="glyphicon glyphicon-arrow-down"></span></button>
                        <p>{{post.description}}</p>
                        <span class='comments'> {{post.date | date: 'longDate'}} | 
                          <ng-pluralize ng-click='showComments(post)' count='post.comments.length'
                          when="{'0': '0 Comments',
                          '1': '1 Comment',
                          'other': '{} Comments'}">
                        </ng-pluralize> | <span class='glyphicon glyphicon-comment'></span><span id='add-comment' ng-click='makeComments(post)'> Add Comment</span>
                        </span>

                        <div ng-show='post.showComment'>
                          <div ng-repeat='comment in post.comments'>
                            <h5>{{comment.author}}: </h5>
                            <span>{{comment.text}}</span>
                          </div>
                        </div>
                        <form class='comment-form' ng-show='post.makeComment' action="#" ng-submit='addComment(post)'>
                            <label for="author">Author:</label>
                            <input type="text" ng-model="view.author" placeholder="Created By">
                            <label for="text">Comment:</label>
                            <input type="text" ng-model="view.text" placeholder="Comment">
                            <input type="submit">
                        </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
